#foodMenu-title,
#foodMenu-description,
#foodMenu{
    margin: 0 1.45rem;
}

#foodMenu-title
{
    margin-top: 8rem;
    margin-bottom: 0.45rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

.img150 {
    margin-top: 0;
    flex-shrink: 0;
    height: 150px;
    width: 150px;
}

#foodMenu {
    display: flex;
    flex-direction: column;
}

.menuItem {
    margin-top: 1.45rem;
    display: flex;
    gap: 1.45rem;
    padding: 0.45rem;
}

.menuItem-name {
    font-weight: 500;
}

.featured {
    border: 2px solid black;
}

.addOns-item {
    margin-top: 0.75rem;
}

.addOns-item:first-child {
    margin-top: 0.75rem;
}

.addOns-section {
    margin-bottom: 4.75rem;
}

@media screen and (min-width: 764px) {
    #foodMenu, #foodMenu-title, #foodMenu-description {
        margin: 0rem 8.45rem;
    }

    #foodMenu-title
    {
        margin-top: 8rem;
    }
}

@media screen and (min-width: 1024px) {
    #foodMenu, #foodMenu-title, #foodMenu-description {
        margin-left: 18rem;
        padding: 0rem;
    }

    #foodMenu-description {
        margin-bottom: 4.75rem;
    }
    
    #foodMenu section ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        grid-auto-rows: (100px, auto);
    }

    .addOns-section {
        grid-column: 1/3;
    }
}